---
interface Props {
    height?: string;
}
const { height = "h-px" } = Astro.props;
---

<div
    class={height}
    style="background:linear-gradient(90deg,transparent,var(--color-primary),transparent)"
>
</div>
