---
const currentPath = Astro.url.pathname;
import Goldseparator from "./Goldseparator.astro";
import AccountMenu from "../auth/AccountDropdown.vue";

const links = [
    { href: "/", label: "Inicio" },
    { href: "/bracket", label: "Cuadro" },
    { href: "/reglamento", label: "Reglamento" },
];
---

<header class="sticky top-0 z-50">
    <div class="border-b border-base-300 bg-base-100/90 backdrop-blur-xl">
        <!-- Línea decorativa -->
        <div
            class="h-[2px] md:h-[3px]"
            style="background:linear-gradient(90deg,transparent,var(--color-primary),transparent)"
            transition:name="navbar_top_line"
            transition:persist
        >
        </div>
        <div
            class="mx-auto max-w-[100rem] 4xl:max-w-[112rem] 5xl:max-w-[125rem]"
        >
            <!-- Overlay -->
            <div
                id="menu-overlay"
                class="fixed top-22 left-0 right-0 bottom-0 z-40 hidden bg-black/40 lg:hidden"
            >
            </div>

            <!-- Navbar -->
            <nav class="relative z-50 navbar h-22 min-h-0 px-5">
                <!-- Inicio -->
                <div class="navbar-start gap-3">
                    <button
                        id="menu-toggle"
                        type="button"
                        class="btn btn-circle btn-ghost lg:hidden"
                        aria-label="Abrir menú"
                        aria-expanded="false"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-5"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>

                    <a
                        href="/"
                        class="group flex items-center gap-4"
                        transition:name="navbar_logo"
                        transition:persist
                    >
                        <img
                            src="/logo.webp"
                            alt="logo"
                            class="h-14 w-auto transition-transform duration-300 group-hover:scale-105"
                        />

                        <div class="leading-1.1 text-center">
                            <div
                                class="md:text-lg text-[0.65rem] font-black tracking-tighter text-primary uppercase"
                            >
                                Mundial Clubes Pro
                            </div>
                            <Goldseparator height="h-[2px]" />
                            <div
                                class="md:text-sm text-[0.55rem] font-bold md:tracking-[0.20em] tracking-normal uppercase opacity-90"
                            >
                                Mr Casemuro
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Centro -->
                <div class="navbar-center hidden lg:flex">
                    <ul class="menu menu-horizontal gap-1 px-1">
                        {
                            links.map((link) => (
                                <li>
                                    <a
                                        href={link.href}
                                        class:list={[
                                            "btn btn-ghost btn-lg relative px-3 py-2 font-semibold transition-colors uppercase text-base",
                                            currentPath === link.href
                                                ? "text-primary after:absolute after:bottom-0 after:left-3 after:right-3 after:h-0.5 after:bg-primary"
                                                : "opacity-70 hover:text-accent hover:opacity-100",
                                        ]}
                                    >
                                        {link.label}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </div>

                <!-- Derecha -->
                <div class="navbar-end gap-2" data-astro-prefetch="false">
                    <AccountMenu client:load />
                </div>
            </nav>

            <!-- Menú móvil -->
            <div
                id="mobile-menu"
                class="relative
                z-50
                max-h-0
                overflow-hidden
                transition-all
                duration-300
                ease-out
                lg:hidden"
            >
                <div class="overflow-hidden">
                    <div
                        class="border-t
                        border-base-300
                        bg-base-100
                        px-2
                        py-3"
                    >
                        <ul class="menu gap-1">
                            {
                                links.map((link) => (
                                    <li>
                                        <a
                                            href={link.href}
                                            class:list={[
                                                "mobile-link rounded-lg font-medium",
                                                currentPath === link.href
                                                    ? "text-primary"
                                                    : "hover:text-primary",
                                            ]}
                                        >
                                            {link.label}
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="h-[2px] md:h-[3px]"
            style="background:linear-gradient(90deg,transparent,var(--color-primary),transparent)"
            transition:name="navbar_bottom_line"
            transition:persist
        >
        </div>
    </div>
</header>

<script>
    function initNavbar() {
        const button = document.getElementById(
            "menu-toggle",
        ) as HTMLButtonElement | null;
        const menu = document.getElementById(
            "mobile-menu",
        ) as HTMLDivElement | null;
        const overlay = document.getElementById(
            "menu-overlay",
        ) as HTMLDivElement | null;

        if (!button || !menu || !overlay) return;

        if ((button as any).__initialized) return;
        (button as any).__initialized = true;

        const links = menu.querySelectorAll(".mobile-link");

        let opened = false;

        const open = () => {
            opened = true;
            menu.classList.toggle("max-h-96", true);
            menu.classList.toggle("max-h-0", false);

            overlay.classList.remove("hidden");

            button.setAttribute("aria-expanded", "true");
        };

        const close = () => {
            opened = false;
            menu.classList.toggle("max-h-96", false);
            menu.classList.toggle("max-h-0", true);

            overlay.classList.add("hidden");

            button.setAttribute("aria-expanded", "false");
        };

        const toggle = () => {
            opened ? close() : open();
        };

        button.onclick = toggle;
        overlay.onclick = close;

        links.forEach((link) => {
            link.addEventListener("click", close);
        });

        window.addEventListener("resize", () => {
            if (window.innerWidth >= 1024) close();
        });
    }

    initNavbar();

    document.addEventListener("astro:after-swap", initNavbar);
</script>
