# Servidor
PORT=4000
NODE_ENV=development

# Mongo
MONGO_URI=mongodb://localhost:27017/trueno_pro_club_tourney

# Auth (Better Auth de la raiz)
ROOT_AUTH_URL=https://midominio.com/api/auth
COOKIE_DOMAIN=.midominio.com
FRONTEND_ORIGIN=https://torneo.midominio.com

# Que archivo de config de torneo cargar (apps/backend/src/config/tournament.<NOMBRE>.ts)
TOURNAMENT_CONFIG=example
