---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" description="Página no encontrada">
    <div class="flex-1 w-full flex flex-col items-center justify-center py-10 lg:py-16">
        <h1 class="text-4xl font-black text-primary mb-8">404</h1>
        <p class="text-lg opacity-60">
            ¡Nos has metido un gol! No se ha encontrado la página que buscas
        </p>
        <img src="/ilustrations/goal.svg" alt="404 error image" class="mt-8" />
        <a href="/" class="btn btn-primary mt-8">Volver al inicio</a>
    </div>
</Layout>
