---
import Layout from "../layouts/Layout.astro";
import AdminPanel from "../components/admin/AdminPanel.vue";
---

<Layout
  title="Administración"
  description="Panel de administración del torneo del mundial 2026 by Casemuro"
  keywords="torneo, clubes pro, trueno pro club tourney, casemuro, ea sports fc, ea fc, ea sports fc 26, ea fc 26 clubes pro, FIFA, clubes pro ea sports fc, trueno, mr. casemuro, mr casemuro, el trueno, el_trueno, cp, cp ea fc, cp ea fc 26"
>
  <div class="flex justify-center items-center px-2 py-10 lg:py-20">
    <h1 class="text-2xl font-black mb-6">Administración</h1>
    <AdminPanel client:load />
  </div>
</Layout>
