---
import Layout from "../layouts/Layout.astro";
import CaptainPanel from "../components/CaptainPanel.vue";
---

<Layout
  title="Panel de capitán"
  description="Panel de capitán del torneo del mundial 2026 by Casemuro"
>
  <div class="py-10 lg:py-16 flex-1 flex flex-col">
    <h1
      class="text-4xl font-black text-primary mb-8 text-center"
      transition:name="page-title"
    >
      Mi equipo
    </h1>
    <CaptainPanel client:load />
  </div>
</Layout>
