---
import Layout from "../layouts/Layout.astro";
import CaptainPanel from "../components/CaptainPanel.vue";
---

<Layout
  title="Panel de capitán"
  description="Panel de capitán del torneo del mundial 2026 by Casemuro"
>
  <div class="flex justify-center items-center px-2 py-10 lg:py-20">
    <div class="flex items-center justify-between mb-6">
      <h1 class="text-4xl font-black text-primary">Mi equipo</h1>
    </div>
    <CaptainPanel client:load />
  </div>
</Layout>
