---
import Layout from "../layouts/Layout.astro";
import TeamPage from "../components/TeamPage.vue";
---

<Layout
  title="Equipo"
  description="Página de equipo del torneo del mundial 2026 by Casemuro"
>
  <div class="py-10 lg:py-16">
    <TeamPage client:load />
  </div>
</Layout>
