---
import Layout from "../layouts/Layout.astro";
import Goldseparator from "../components/layout/Goldseparator.astro";
---

<Layout
    title="Política de privacidad"
    description="Política de privacidad del torneo del mundial 2026 by Casemuro"
    keywords="torneo, clubes pro, trueno pro club tourney, casemuro, ea sports fc, ea fc, ea sports fc 26, ea fc 26 clubes pro, FIFA, clubes pro ea sports fc, trueno, mr. casemuro, mr casemuro, el trueno, el_trueno, cp, cp ea fc, cp ea fc 26"
>
    <meta
        slot="metadata"
        property="og:url"
        content="https://mundialclubespro.casemurocity.org/"
    />
    <meta
        slot="metadata"
        property="og:image"
        content="https://mundialclubespro.casemurocity.org/banner.webp"
    />
    <meta
        slot="metadata"
        name="twitter:url"
        content="https://mundialclubespro.casemurocity.org/"
    />
    <meta
        slot="metadata"
        name="twitter:image"
        content="https://mundialclubespro.casemurocity.org/banner.webp"
    />

    <section class="px-6 py-10 lg:py-20">
        <div class="mx-auto max-w-4xl">
            <img
                src="normas.webp"
                alt="Normas del torneo"
                class="w-fit h-fit object-contain mx-auto max-w-fit max-h-[90dvh]"
            />

            <div class="mt-10 text-center">
                <a href="/" class="btn btn-primary"> Volver al inicio </a>
            </div>
        </div>
    </section>
</Layout>
