---
import Layout from "../layouts/Layout.astro";
import SeriesDetail from "../components/SeriesDetail.vue";
---

<Layout
  title="Detalle del partido"
  description="Detalle del partido del torneo del mundial 2026 by Casemuro"
>
  <div class="py-10 lg:py-16">
    <SeriesDetail client:load />
  </div>
</Layout>
